/* You can add global styles to this file, and also import other style files */
body {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #9ad7ff, #fad0c4);
}